<header id="menu">
  <div class="logo-title">
    <img src="/img/logo.png" height="75" width="75" alt="Logo Appelscene" />
    <h1 class="gradient-text">Appelscene</h1>
  </div>
  <nav class="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      {{#if is_admin}}
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
      {{!-- {{#if user}}
      {{else}}
      {{/if}} --}}
    </ul>
  </nav>
  <div class="hamburger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</header>