<header id="menu">
  <div class="logo-title">
    <img src="/img/logo.png" height="75" width="75" alt="Logo Appelscene" />
    <h1 class="gradient-text">Appelscene</h1>
  </div>
  <nav class="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      {{#if isLoggedIn}}
        {{#if isAdmin}}
          <li><a href="/dashboard">Dashboard</a></li>
        {{/if}}
        <li><a href="/logout">
            Logout
            <span style="font-size: .7em; color: rgb(232, 170, 57)">
              {{name}}</span></a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}

    </ul>
  </nav>
  <div class="hamburger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</header>