<div class="container" id="main">
  <div class="columns">
    <div class="col-6 col-md-12">
      <div class="wrapper">
        <h1 class="text-center">
          <span class="gradient-text">Origin</span>
        </h1>
        <p class="text-center biography">
          Welcome to Appelscene, where creativity and passion converge to craft
          unique visual narratives. We are a young and dynamic team of five
          individuals, each with their own unique specialty and a shared love
          for video production and graphic design. Our team comprises visionary
          filmmakers, experienced editors, passionate graphic designers, and
          skilled technicians. Together, we form a tight-knit unit driven by the
          desire to bring your ideas to life and tell your story in a way that
          lingers.
        </p>
      </div>
      <div class="my-3">
        <div class="column col-12 text-center">
          <h1>The <span class="gradient-text">Skills</span></h1>
        </div>
        <div class="columns">
          <div class="column col-4 col-sm-12">
            <div class="circle-wrapper">
              <p class="emoji">📹</p>
              <h3 style="color: rgb(199, 129, 0)">Video editing</h3>
              <p>Visual Storytelling</p>
            </div>
          </div>
          <div class="column col-4 col-sm-12">
            <div class="circle-wrapper">
              <p class="emoji">🖌️</p>
              <h3 style="color: #4e57d6">Motion Graphics</h3>
              <p>Pro Motion Graphics Techniques</p>
            </div>
          </div>
          <div class="column col-4 col-sm-12">
            <div class="circle-wrapper">
              <p class="emoji">🎬</p>
              <h3 style="color: rgb(191, 64, 198)">Directing</h3>
              <p>From Concept to Screen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-12">
      <div class="container">
        <div class="columns">
          <div class="wrapper">
            <div class="column">
              <div class="card-container">
                <h1>The <span class="gradient-text">Team</span></h1>

                <div class="circle-image">
                  <img src="/img/simen.jpeg" alt="Profile Image 1" />
                </div>
                <h5>Simen Scheers</h5>
                <p>Founder of Appelscene <br /></p>
              </div>
              <div class="card-container">
                <div class="circle-image">
                  <img src="/img/shay.jpeg" alt="Profile Image 1" />
                </div>
                <h5>Shayanth Ravi</h5>
                <p>Artist & Creative Director</p>
              </div>
              <div class="card-container">
                <div class="circle-image">
                  <img src="/img/niels.jpeg" alt="Profile Image 1" />
                </div>
                <h5>Niels Colpaert</h5>
                <p>Director Of Photography</p>
              </div>
              <div class="card-container">
                <div class="circle-image">
                  <img src="/img/ferri.jpg" alt="Profile Image 1" />
                </div>
                <h5>Ghyferri Halfhide</h5>
                <p>Executive Producer</p>
              </div>
              <div class="card-container">
                <div class="circle-image">
                  <img src="/img/ferno.jpeg" alt="Profile Image 1" />
                </div>
                <h5>Ghyferno Halfhide</h5>
                <p>Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>