<div id="main" class="container">
  <div class="column col-12 text-center my-5 top">
    <h1><span class="gradient-text">Contact</span></h1>
  </div>
  <div class="container">
    <div class="columns">
      <!-- Left Side: Contact Information -->
      <div class="column col-6 col-md-12">
        <h4 style="text-decoration: underline">Some Useful Info</h4>
        <p class="info_text">
          Hello, fellow creators and curious minds! 🚀 Whether you're an artist
          with a vision or a company seeking creative solutions, we're here to
          light up your inquiries like neon lights on Broadway.
          <br />
          <br />

          We're your go-to source for all things creative. Got questions about
          our artistic wizardry, pricing spells, or just want to chat about your
          next masterpiece? Reach out, and let's create some magic together!
          🎨🔮✨
        </p>

        <div class="card card_email">
          <div class="card-header">
            <h5>Email</h5>
          </div>
          <div class="card-body">appelscenecontact@gmail.com</div>
        </div>
        <div class="card card_info">
          <div class="card-header">
            <h5>Address</h5>
          </div>
          <div class="card-body">Antwerpen 2060, België</div>
        </div>
        <div class="card card_number">
          <div class="card-header">
            <h5>Phone Number</h5>
          </div>
          <div class="card-body">+32484461272</div>
        </div>
      </div>

      <!-- Right Side: Contact Form -->
      <div class="column col-6 col-md-12">
        <div class="card card_contact">
          <div class="card-header">
            <h4 class="card-title">Contact Us</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="form-label" for="first-name">First Name</label>
                <input
                  class="form-input"
                  type="text"
                  id="first-name"
                  name="first-name"
                  required
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="last-name">Last Name</label>
                <input
                  class="form-input"
                  type="text"
                  id="last-name"
                  name="last-name"
                  required
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input
                  class="form-input"
                  type="email"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="message">Message</label>
                <textarea
                  class="form-input"
                  id="message"
                  name="message"
                  rows="4"
                  required
                ></textarea>
              </div>
              <button class="btn custom-button" type="submit">
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>