<div class="container" id="main">
  <div class="container">
    <div class="columns">
      <div class="col-6 col-md-12">
        <div class="center-content content-left-align">
          <h2>
            Welcome to My Video Clip
            <span class="gradient-text">Portfolio</span>
          </h2>
          <p>Check out my latest clips</p>
          <a href="/videos">
            <button class="btn custom-button">See all clips</button>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-12">
        <img
          src="/img/appelscene_bio.png"
          class="img-responsive hero_img orange_shadow"
          alt="bio of appelscene account"
        />
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="columns">
      <div class="col-8 col-md-12 image-container">
        <a href="https://www.youtube.com/watch?v=0_RTEZ7MBOM" target="_blank">
          <img
            src="/img/landen_thumbnail.png"
            class=""
            alt="landen thumbnail"
          /></a>
        <a
          href="https://www.youtube.com/watch?v=WK4ovj8znPc"
          target="_blank"
        ><img
            src="/img/looptmetpijp_thumbnail.png"
            class=""
            alt="loopt met pijp thumbnail"
          /></a>
      </div>
      <div class="col-4 col-md-12">
        <div class="center-content content-right-align">
          <h2>
            Featured
            <span class="gradient-text">Videos</span>
          </h2>
          <p>The latest hot drops 🔥🔥🔥</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-3">
    <div class="column col-12 text-center">
      <h1>The <span class="gradient-text">Skills</span></h1>
    </div>
    <div class="columns">
      <div class="column col-4 col-sm-12">
        <div class="circle-wrapper">
          <p class="emoji">📹</p>
          <h3 style="color: rgb(199, 129, 0)">Video editing</h3>
          <p>Visual Storytelling</p>
        </div>
      </div>
      <div class="column col-4 col-sm-12">
        <div class="circle-wrapper">
          <p class="emoji">🖌️</p>
          <h3 style="color: #4e57d6">Motion Graphics</h3>
          <p>Pro Motion Graphics Techniques</p>
        </div>
      </div>
      <div class="column col-4 col-sm-12">
        <div class="circle-wrapper">
          <p class="emoji">🎬</p>
          <h3 style="color: rgb(191, 64, 198)">Directing</h3>
          <p>From Concept to Screen</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="col-6 col-md-12 center-post">
        <a
          target="_blank"
          class="ytimg"
          href="https://www.instagram.com/p/Cvz3xm6IaLn/"
        >
          <img
            class="yt"
            src="/img/yt1.png"
            alt="picture of the first instagram post"
          /></a>

      </div>
      <div class="col-6 col-md-12 center-post">
        <a
          target="_blank"
          class="ytimg"
          href="https://www.instagram.com/p/CuXA9PaIFII/ "
        >
          <img
            class="yt"
            src="/img/yt2.png"
            alt="picture of the second instagram post "
          /></a>

        <script async src="//www.instagram.com/embed.js"></script>
      </div>
    </div>
  </div>
  <script async src="//www.instagram.com/embed.js"></script>
</div>