<div class="container" id="main">
  <div class="container">
    <h1 class="text-center">
      Explore My Video Clips
      <span class="gradient-text">Showcase</span>
    </h1>
    <p class="text-center">
      Check out all these amazing videoclips made by us
    </p>
  </div>
  <div class="divider"></div>
  {{#if hasDatabaseError}}
    <div>
      Sorry, there was a problem with the database:
      <br />
      {{theError}}
    </div>
  {{else}}
    {{#each videoclips}}
      <div class="container">
        <div class="columns">
          <div id="content" class="columns">
            <h1>{{vtitle}}</h1>
            <p>{{vdesc}}</p>
          </div>
          <ul class="pagination" id="pagination"></ul>
        </div>
      </div>
    {{/each}}
  {{/if}}
  <script src="/js/videos.js" defer></script>

</div>