<div class="container" id="main">
  <h1 class="text-center">
    [ARTIEST NAAM] -
    <span class="gradient-text">Title</span>
  </h1>
</div>
<div class="divider"></div>
<!-- <div class="container">
        <div class="columns">
        <div class="card-body">
                <h5 class="card-title">
                  Kleinevlam x Simski - Landen (prod. ID)
                </h5>
                <p class="card-text">Duration: 2:51</p>
                <p class="card-text">Release Date: 11 aug 2023</p>
              </div> -->
<div class="container_info">
  <div class="video-info">
    <h1>Video Title</h1>
    <p>Artist: Artist Name country</p>
    <p>
      Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>Release Date: September 22, 2023</p>
    <p>Genre: Music</p>
  </div>
  <div class="video-container">
    <iframe
      width="550"
      height="300"
      src="https://www.youtube.com/embed/0_RTEZ7MBOM?si=Qiw2q3MKMbla8V8Z"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>