:root {
  --text: #f7efe8;
  --background: #040201;
  --primary: #df823c;
  --secondary: #010304;
  --accent: #979cdd;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: white;
  height: 100%;
}
/* Reset some default styles */
body,
ul {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  padding: 10px 20px;
}

/* Style the logo and title */
.logo-title {
  display: flex;
  align-items: center;
}

.logo-title img {
  margin-right: 10px;
}

/* Style the navigation links */
.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--text);
}
.nav-links a:hover {
  color: var(--primary);
}

/* Style the hamburger menu for smaller screens */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text);
  margin: 3px 0;
}

.gradient-text {
  margin: 0;
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--accent)
  ); /* Define your gradient colors and direction */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  background-clip: text;
  color: transparent; /* Make the text transparent */
}

main {
  padding: 10px 35px;
}
.gradient-footer {
  padding: 20px; /* Add some padding for spacing */
  text-align: center; /* Center-align the text */
  color: #fff; /* Set the text color to white */
  font-size: 14px; /* Adjust the font size as needed */
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* s */

.circle {
  width: 100px; /* Adjust the size of the circle */
  height: 100px; /* Adjust the size of the circle */
  border-radius: 50%;
  overflow: hidden;
}

.circle-image {
  width: 80px; /* Adjust the size of the circular image */
  height: 80px; /* Adjust the size of the circular image */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  float: left;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container {
  clear: both;
  width: 400px;
  margin-bottom: 60px; /* Adjust the spacing between each card */
}
/* skills */
.circle h2 {
  font-size: 18px; /* Adjust title font size */
  margin: 5px 0; /* Add margin around title */
}

.circle p {
  font-size: 14px; /* Adjust description font size */
}
.circle-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.emoji {
  font-size: 3em;
}

.biography {
  width: 80%;
  margin-bottom: 80px;
}

@media screen and (max-width: 890px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none; /* Hide the menu initially */
  }

  .nav-links.active {
    display: flex; /* Display the menu when active */
    flex-direction: column; /* Stack menu items vertically */
  }

  .hamburger-menu {
    display: block; /* Display the hamburger menu when needed */
  }

  /* Add some styles to the list items for better spacing */
  .nav-links ul {
    padding: 0;
    margin: 0;
    background-color: rgb(60, 4, 156);
    display: flex;
    flex-direction: column;
  }

  .nav-links ul li {
    margin-bottom: 10px;
  }
  /* Hide hamburger menu when links are displayed */
  .hamburger-menu.active {
    display: none;
  }
}
