:root {
  --text: #f7efe8;
  --background: #040201;
  --primary: #df823c;
  --secondary: #010304;
  --accent: #979cdd;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: white;
  height: 100%;
}
/* Reset some default styles */
body,
ul {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  padding: 10px 20px;
}

/* Style the logo and title */
.logo-title {
  display: flex;
  align-items: center;
}

.logo-title img {
  margin-right: 10px;
}

/* Style the navigation links */
.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--text);
}
.nav-links a:hover {
  color: var(--primary);
}

/* Style the hamburger menu for smaller screens */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text);
  margin: 3px 0;
}

.gradient-text {
  margin: 0;
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--accent)
  ); /* Define your gradient colors and direction */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  background-clip: text;
  color: transparent; /* Make the text transparent */
}

main {
  padding: 10px 35px;
}
.top {
  margin-bottom: 40px;
}
.info_text {
  width: 80%;
}
.gradient-footer {
  padding: 20px; /* Add some padding for spacing */
  text-align: center; /* Center-align the text */
  color: #fff; /* Set the text color to white */
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 5em;
}
.form-label {
  color: var(--text);
}

.card_contact {
  background-color: #010304;
  box-shadow: 0 0 15px orange;

  border: none;
  border-radius: 5%;
}

.custom-button {
  background-color: transparent; /* Change this to your desired color */
  color: #ffffff; /* Change this to the text color you prefer */
}
.custom-button:hover {
  background-color: var(--accent);
}

.card_info {
  background-color: rgb(169, 36, 169);
  box-shadow: 0 0 15px rgb(210, 15, 210);
  width: 80%;
  border: none;
  margin-bottom: 16px;
}
.card_email {
  background-color: rgb(20, 57, 194);
  box-shadow: 0 0 15px rgb(15, 41, 210);
  width: 80%;
  margin-bottom: 16px;
  border: none;
}
.card_number {
  background-color: rgb(214, 154, 44);
  box-shadow: 0 0 15px rgb(255, 132, 0);
  width: 80%;
  margin-bottom: 16px;

  border: none;
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--accent);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: block;
  }

  .hamburger-menu {
    display: flex;
  }

  /* Hide hamburger menu when links are displayed */
  .hamburger-menu.active {
    display: none;
  }
  .card_info {
    width: 100%;
  }
  .card_email {
    width: 100%;
  }
  .card_number {
    width: 100%;
  }
}
