:root {
  --text: #f7efe8;
  --background: #040201;
  --primary: #df823c;
  --secondary: #010304;
  --accent: #979cdd;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: white;
  height: 100%;
}
/* Reset some default styles */
body,
ul {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}

.container {
  width: 80%;
}
.accordion-header {
  color: white;
  background: transparent;
  border: solid 1.25px white;
}
.accordion-body {
  background-color: rgb(67, 67, 67);
  color: white;
}
.i {
  color: white;
  background-color: white;
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  padding: 10px 20px;
}

/* Style the logo and title */
.logo-title {
  display: flex;
  align-items: center;
}

.logo-title img {
  margin-right: 10px;
}

/* Style the navigation links */
.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--text);
}
.nav-links a:hover {
  color: var(--primary);
}

/* Style the hamburger menu for smaller screens */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text);
  margin: 3px 0;
}

.gradient-text {
  margin: 0;
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--accent)
  ); /* Define your gradient colors and direction */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  background-clip: text;
  color: transparent; /* Make the text transparent */
}

main {
  padding: 10px 35px;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.gradient-footer {
  /* background: linear-gradient(0deg, var(--primary), var(--background)); */
  padding: 20px; /* Add some padding for spacing */
  text-align: center; /* Center-align the text */
  color: #fff; /* Set the text color to white */
  font-size: 14px; /* Adjust the font size as needed */
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--accent);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: block;
  }

  .hamburger-menu {
    display: flex;
  }

  /* Hide hamburger menu when links are displayed */
  .hamburger-menu.active {
    display: none;
  }
}
